@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Преподавательская</title>
</head>
<body>
<div>
</div>

<script src="../../Components/index.ts"></script>
<script src="../../Scripts/resnyanskiy.js.tree.ts"></script>
</body>
</html>